.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 19.5rem;
  overflow-y: hidden;
  // overflow-y: hidden;
  // max-width: 21.875rem;
  height: 100%;
  z-index: 10;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
  @include breakpoint-down(medium) {
    overflow-y: scroll;
  }

  &__links-container li {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.4rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.33s ease;
  }
  &__links-container li:hover {
    background: #0000000d;
  }

  &__links-container {
    padding: 0;
    width: 80%;
    display: block;
    flex-direction: column;
    margin: 0 auto;
  }

  &__link {
    font-size: 0.875rem;
    font-weight: 500;
    // width: ;
    margin: 0 0.25rem;
    color: $primary-color;
  }

  &__mobile-link {
    display: none;

    @include breakpoint-down(medium) {
      display: block;
    }
  }

  &__close-btn {
    text-align: right;
    margin: 1.25rem;
    border: 0;
    // cursor: pointer;

    &__img {
      border-radius: 0.25rem;

      width: 2.4rem;
      padding: 0.5rem;

      transition: background-color 0.33s ease;
    }

    &__img:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__language {
    display: flex;
    height: auto;

    &__globe {
      width: 10%;

      &__img {
        width: 1rem;
      }
    }

    &__text-container {
      width: 90%;
    }

    &__country {
      margin: 0;
    }

    &__text {
      font-size: 0.75rem;
    }
  }
}

.navigation.is--active {
  transform: translateX(0);
}

.blur__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  transition: display 0.4s ease;
}

.blur__overlay.is--active {
  display: block;
}
